<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".PlayersApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.KingOfBozo.Standard"
        tools:replace="android:allowBackup">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.KingOfBozo.Standard" />

        <activity-alias
            android:name="com.wendellugalds.kingofbozo.SplashActivityPadrao"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_padrao"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_padrao"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.wendellugalds.kingofbozo.SplashActivityVerde"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_verde"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_verde"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.wendellugalds.kingofbozo.SplashActivityRoxo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_roxo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_roxo"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.wendellugalds.kingofbozo.SplashActivityRosa"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_rosa"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_rosa"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.wendellugalds.kingofbozo.SplashActivityLaranja"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_laranja"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_laranja"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.wendellugalds.kingofbozo.SplashActivityVermelho"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_vermelho"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_vermelho"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".SobreActivity"
            android:exported="false" />

        <activity
            android:name=".ui.settings.ThemeLoadingActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.KingOfBozo.Standard" />

    </application>

</manifest>